/*
 * Copyright 2023 Logan Magee
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

footer {
    text-align: right;
    max-width: 900px;
    margin: auto;
}

.center {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--mat-sys-surface-container);
    padding: 2.2em 3.5em 2.2em 3.5em;
    border-radius: 10%;
}

.logo {
    border-radius: 50%;
}

.spacer {
    margin: 0.4em 0;
}

.icon {
    padding-right: 12px;
}

.btn {
    padding: 24px 14px 24px 14px;
}

.row {
    display: flex;
    align-items: center;
}
